doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width" initial-scale=1.0)
    title #{title}
    link(rel="stylesheet" href="/css/style.css")

  body
  
    .error-div
      h2 Something went wrong 🤯
      h2 #{msg}
